@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-poppins bg-white selection:bg-violet-500 selection:text-white text-gray-800;
}

li#accordion-collapse:hover .icon svg, li.sideMenu:hover .icon svg{
	transform: rotateY(180deg);
}

li .icon svg {
	@apply duration-500
}

.sideMenu a {
    @apply flex items-center rounded-full px-4 py-2.5 duration-200 hover:bg-gray-200;
}

.sideMenu .icon {
    @apply mr-1 grid place-items-center rounded-full bg-white p-2.5 text-center shadow-lg shadow-gray-300;
}

.sideMenu span {
    @apply ml-2 text-sm font-medium text-gray-500;
}

#sidebar.sidebarClose {
    @apply lg:w-[98px] !important;
}

#sidebar.sidebarClose .logo span {
    @apply lg:invisible;
}

#sidebar li span,
#sidebar .nav-icon {
    @apply duration-200;
}

#sidebar.sidebarClose li span,
#sidebar.sidebarClose .nav-icon {
    @apply lg:invisible transition-none !important;
}

#sidebar.sidebarClose ~ #main-content {
    @apply lg:ml-24 !important;
}

#sidebar.sidebarClose ~ #footer {
    @apply lg:ml-24 !important;
}

#sidebar li a.active, #sidebar li button.active {
    @apply bg-gray-200;
}

#sidebar li a.active .icon, #sidebar li button.active .icon{
    @apply !bg-violet-500 !text-white;
}

#sidebar .overflow-y-auto {
    @apply overflow-x-hidden;
}

#sidebar .overflow-y-auto::-webkit-scrollbar {
    width: 8px;
}
#sidebar .overflow-y-auto::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-lg;
}

.input-wrapper {
    @apply relative z-0 mb-6 last:mb-0;
}

.form-input {
    @apply block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-violet-600;
}

.form-input-border {
	@apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-violet-500 focus:border-violet-500 block w-full p-2.5
}

.table {
    @apply w-full text-sm text-left text-gray-500;
}

.table thead {
    @apply text-xs text-gray-700 uppercase bg-gray-100;
}

.table th {
    @apply px-6 py-3;
}

.table tbody tr {
    @apply bg-white border-b last:border-b-0;
}

.table tbody th {
    @apply px-6 py-4 font-medium text-gray-900 whitespace-nowrap;
}

.table tbody td {
    @apply px-6 py-4 min-w-[7rem];
}

.editBtn, .editBtn2 {
    @apply bg-gray-200 py-2 px-3 flex items-center justify-center rounded-lg text-gray-700 hover:bg-gray-300 duration-300;
}

.viewBtn {
	@apply bg-violet-600 py-2 px-3 flex items-center justify-center rounded-lg text-white hover:bg-violet-700 duration-300;
}

.hapusBtn {
    @apply bg-red-600 py-2 px-3 flex items-center justify-center rounded-lg text-white hover:bg-red-700 duration-300;
}

input[type='file'] {
	@apply dark:file:bg-violet-100 file:bg-violet-50 file:text-violet-700 file:font-normal w-full rounded-lg border border-gray-300 focus:border-violet-600 outline-none !important
}

.collapseActive {
	@apply bg-gray-200
}

.navbarLink {
	@apply block py-2.5 pl-3 pr-4 font-medium text-gray-700 rounded-lg hover:bg-gray-100 lg:hover:bg-transparent lg:hover:text-violet-700 lg:p-0 text-base
}

.navbarLink.active {
	@apply lg:text-violet-600 lg:bg-transparent bg-violet-600 text-white
}

.badge {
	@apply absolute text-[10px] -top-2 -right-2.5 bg-violet-600 text-white w-4 h-4 flex justify-center items-center rounded-full
}

.icon:hover svg {
	transform: rotateY(180deg);
}

#searchForm.active {
	@apply !flex visible opacity-100 duration-500
}

#hapusModal {
	@apply bg-black bg-opacity-60 w-full
}

.swiper-pagination-bullet {
	@apply w-2.5 h-2.5 duration-500 !important
}

.swiper-pagination-bullet-active {
	@apply bg-violet-600 w-6 rounded-lg !important
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
	@apply relative mt-6 !important
}

.heading {
	@apply relative inline-block text-center capitalize text-2xl lg:text-3xl font-semibold mb-2 after:absolute after:content-[''] after:h-1 after:bg-violet-600 after:w-14 after:ml-4 after:top-1/2 after:-translate-y-1/2 before:absolute before:content-[''] before:h-1 before:bg-violet-600 before:w-14 before:right-full before:top-1/2 before:-translate-y-1/2 before:mr-4
}

.menu-mobile {
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.05) 0px 0px 0px 1px;
}
